/* 
palette
#f6fafb base white
#c1c8c7 light grey
#5e6668 dark grey
#252b31 black
#d49c6b accent orange
*/

main {
  background-color: #252b31;
}

a {
  color: black;
  transition: all .3s;
}

a:hover {
  color: black;
  text-decoration: none;
}

li {
  list-style-type: none;
}

footer {
  text-align: center;
  background-color: #c1c8c7;
  padding: .5em;
}

header {
  background-color: #c1c8c7;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
}

header h1 {
  font-size: 2em;
}

nav a:hover {
  color: #d49c6b;
}

.container {
  background-color: #f6fafb;
  padding-top: 3em;
  padding-bottom: 2em;
}

#profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}

#profile img {
  width: 300px;
  border-radius: 100%;
  margin-left: 5em;
}

h2 {
  font-size: 3em;
}

.line {
  border: 3px solid #d49c6b;
  width: 70%;
  margin: auto;
  margin-bottom: 3em;
}

#hello {
  width: 40%;
  margin: auto;
  margin-bottom: 3em;
}

.btn-primary {
  background-color: #d49c6b;
  border-color: #d49c6b;
  transition: all .3s;
}

.btn-primary:hover {
  filter: brightness(80%);
  background-color: #d49c6b;
  border-color: #d49c6b;
}

.row {
  justify-content: center;
  margin-bottom: 3em;
}

.bio img {
  float: right;
  width: 375px;
}

.bio {
  margin-right: 3em;
  margin-left: 3em;
  clear: both;
  margin-bottom: 5em;
}

#climb {
  float: left;
  margin-right: 3em;
}

#outside {
  padding-top: 1em;
}

ol li{
  list-style-type: decimal;
}

/* styling specific to projects.html */

#projects {
  text-align: center;
  padding-top: 1em;
}

.card {
  width: 80%;
  margin: auto;
}

.GitHubLink {
  color: blue;
  text-decoration: underline;
  transition: all 0s;
}

.GitHubLink:hover {
  text-decoration: none;
  color: blue;
}